<mat-card>
  <h1 class="ml20">Add category</h1>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Title</mat-label>
              <input type="text" name="title" matInput placeholder="Enter here" [(ngModel)]="category.title"/>
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea name="description" matInput placeholder="Enter description" rows="10" [(ngModel)]="category.description"></textarea>
              </mat-form-field>
              <div class="container text-center mt20 mb20">
                <button mat-raised-button color="primary">Add new category</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
