<mat-card *ngIf="user">
  <h2 class="text-center">Your profile details</h2>
  <mat-card-content>
    <!-- {{user | json}} -->
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img
            src="../../../assets/default.png"
            alt="profile.png"
            class="profile-img"
          />
          <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table text-center">
              <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>userID</td>
                <td>EXAM{{user.id}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{user.authorities[0].authority }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{user.enabled ? "ACTIVE" : "NOTACTIVE"}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  
</mat-card>
